@model List<TabletopStore.Models.Roles.User>

<table class="highlight">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.RegisterDate</td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>