
<div class="carousel carousel-slider" style="height: 600px">
    <a class="carousel-item" href="#one!"><img src="https://yar.mosigra.ru/mosigra.product.main/538/886/3_800x500.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://yar.mosigra.ru/mosigra.product.main/534/837/DSC_3910_800x500.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://yar.mosigra.ru/mosigra.product.main/533/765/DSC_0170_800x500.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://yar.mosigra.ru/mosigra.product.main/533/890/DSC_0204_800x500.jpg"></a>
</div>