@model Game

<div class="col s12 m6 l3">
    <div class="card">
        <div class="card-image">
            <img src="@Model.ImageThumbnailUrl" alt="Alternate Text" style="padding: 4%" />
            @if (Model.IsHit)
            {
                <a href="#" class="halfway-fab btn-floating btn-large pink pulse">

                    <i class="meterial-icons">hit</i>
                </a>
            }
        </div>
        <div class="card-content">
            <span class="card-title">@Model.Name</span>
            <p class="truncate">@Model.ShortDescription</p>
        </div>
        <div class="card-action">
            <a href="#">Подробнее</a>
            <a href="#" class="btn blue lighten-1 right">@Model.Price.ToString("c")</a>
        </div>
    </div>
</div>