<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CurrentCategory</title>
</head>
<body>
    <div class="container">
        <h2>@Model.CurrentCategory</h2>
        <div class="row">
            @foreach (Game game in Model.Games)
            {
                @Html.Partial("GameSummary", game)
            }
        </div>
    </div>
</body>
</html>
