@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2 class="center-align">Hits of the week</h2>

<div class="row">
    @foreach(var game in Model.HitGames)
    {
        @await Html.PartialAsync("GameSummary", game)
    }
</div>