@model  string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category not found</title>
</head>
<body>
    <div class="container">
        <h2>Catergory "@Model" has no games or doesn't exist</h2>
    </div>
</body>
</html>
