
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content blue lighten-1'>
    @foreach (var category in Model)
    {
    <li>
        <a asp-controller="Games" asp-action="List"
           asp-route-category="@category.Name" class="white-text">@category.Name</a>
    </li>
    }
    <li class="divider"></li>
    <li>
        <a asp-controller="Games" asp-action="List" asp-route-category="" class="white-text">View all games</a>
    </li>
</ul>