<!-- Dropdown Structure -->
<div class="collapsible-body" style="display: block;">
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Categories" asp-action="Index"
                   asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Categories" asp-action="Index" asp-route-category="">View all games</a>
        </li>
    </ul>
</div>