@model ShoppingCartViewModel

<div class="right">
    @if (Model.ShoppingCart.Items.Count > 0)
    {
        <li>
            <a asp-controller="ShoppingCart">
                <div style="display: flex !important; align-items: center">
                    <i class="material-icons">shopping_cart</i>
                    <span id="cart-status" style="font-weight: bold; font-size: 20px; padding-left: 15px ">@Model.ShoppingCart.Items.Count</span>
                </div>
            </a>
        </li>
    }
</div>


