@model IEnumerable<User>


<table class="highlight">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registartion date</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.RegisterDate</td>
            <td>Role</td>
            <td></td>
        </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>